# Python & Virtualenv
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.class
*.pyc

# Database & SQLite
*.sqlite3
db.sqlite3

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
desktop.ini
.DS_Store

# Static collected & media
media/
staticfiles/
exported_gemini_api_keys.txt
*.pem
*.key
